.gradle/
.idea/
/build/
app/build/
captures/
.externalNativeBuild
.cxx
local.properties
.idea/caches/
.idea/modules.xml
.idea/workspace.xml
.idea/nav/
.idea/assetWizardSettings.xml
.idea/modules/
*.iml
*.ipr
*.iws
google-services.json
*.properties
!build.gradle
!gradle.properties
*.DS_Store
Thumbs.db
appbundlekeystorepath/
app/release